body{
  margin: 0px;
}

div {
  color: orange;
  display: flex;
}

.team {
  background-color: blue;
}

.enemy1 {
  background-color: green;
}

.enemy2 {
  background-color: purple;
}

.enemy3 {
  background-color: teal;
}

.feed {
  background-color: red;
  width: 25%;
}

.breed {
  background-color: purple;
  width: 25%;
}

.quest {
  background-color: orange;
  color: blue;
  width: 25%;
}

.trade {
  background-color: green;
  width: 25%;
}

.card {
  display: inline-block;
  width: 400px;
  height: 300px;
  width: 25%;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding:5px;
  border: 3px black solid;
  background-color:#CCCCCC;
}

.card_name{
  display: block;
  padding: 5px;
  color: #5C5C5C;
  border-bottom: 1px black solid;
}

.card_traits{
  display: inline-block;
  padding-left: 5px;
  color: #5C5C5C;
  padding-top: 5px;
}


.selected {
  border: 5px solid;
  border-color: Gold;
}

.body-div {
  max-width: 66%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.stats {
  display: flex;
}

.stats-block {
  width: 25%;
  display: inline-block;
  padding: 5px 10px;
  margin: 3px;
}

.ascensions {
  height: 50px;
  box-sizing: border-box;
  border-color: 
}

.ascensions-block {
  width: 25%;
  display: inline-block;
  background-size: 40px;
  background-position: 180;
  background-repeat: no-repeat;
  border: 3px solid gray;
  margin: 2px;
  background-color: #ffffff;
  padding: 5px 0px 0px 5px;
}

.ascensions-block.team{background-image: url("/eugenics/img/heart_emblem.png");}
.ascensions-block.enemy1{background-image: url("/eugenics/img/lightning_emblem.png");}
.ascensions-block.enemy2{background-image: url("/eugenics/img/shadow_emblem.png");}
.ascensions-block.enemy3{background-image: url("/eugenics/img/water_emblem.png");}

.action{
  border-radius: 5px;
  margin: 5px;
  padding: 10px 5px;
  text-align: center;
  display: table-cell;
}

.action:hover{
  opacity: 0.75;
}

.action:active{
  opacity: 0.5;
}

.draw{
  padding: 5px;
  background-color: gray;
  display: inline-block;
}

.footer{
  background-color:#808080; 
  width: 100%;
  height: 200px;
  position: fixed;
  bottom: 0;
  z-index: 150px;
}

.message_container{
  padding: 5px 10px;
  overflow-y: scroll;
  width: 100%;
}

.arrow{
  padding: 5px;
  display: inline-block;
}

#wait_overlay{
  position: absolute;
  width: 100%;
  height: 150px;
  z-index: 150;
  background-color: green; 
  position: absolute;
  top: 100;
  opacity: 0.80;
}

#wait_text{
  margin: auto;
  font-size:12;
}
